<%= link_to programmer_path(programmer) do %>

    <p class="list-group-item programmer-item">
  <h3>	    <%= image_tag programmer.image, width: '70px' %>
    <%= programmer.name %> | <%= formatted_date(programmer.birth_date) %> - <%= formatted_date(programmer.death_date) %>	    <%= programmer.name %>
  </h3>	  </p>
  
    <% end %>